/* responsive layout */

@media only screen and (max-width: 760px) {
    body {
        width: 100%;
    }

    .first {
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }

    .navbar {
        width: 100%;
    }

    .navbar .menu {
        display: none;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 1.2rem;
    }

    .logo svg {
        display: block;
    }

    .one {
        flex-direction: column;
        justify-content: space-between;
        padding: 1.2rem;
        height: 100%;
    }

    .big-content {
        width: 100%;
    }

    .image-01 {
        width: 100%;
        height: 100%;
    }

    .big-image {
        text-align: center;
    }

    .top-card {
        right: 5%;
    }

    .bottom-card {
        left: 1%;
    }

    .four-images {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .third-content {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1.2rem;
    }

    .third-content div:nth-child(1) {
        width: 100%;
        padding: 1.2rem;

    }

    .third-content div:nth-child(1) button {
        width: 100%;
        font-size: large;
    }

    .third-content div:nth-child(2) {
        padding: 1.2rem;
        width: 100%;
    }

    .third-content div:nth-child(2) img {
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .fourth h1 {
        margin: 1.2rem;
    }

    .fourth p {
        margin: 1.2rem;
    }

    .grid-images {
        display: grid;
        margin: 1.2rem;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 0;
    }

    .item1 {
        grid-column: span 5;
    }

    .item2 {
        grid-column: span 5;
    }

    .item3 {
        display: none;
    }

    .item4 {
        grid-column: span 4;
    }

    .item5 {
        grid-column: span 6;
    }

    .item6 {
        display: none;
    }
    .headings {
        width: 100%;
    }
    .headings h1 {
        margin: 1.2rem;
    }
    
    .headings p {
        margin: 1.2rem;
    }
    .calculator {
        flex-direction: column;
        align-items: center;
    }
    .calculator div:nth-child(1) {
        width: 100%;
        margin: 1.2rem;
        padding: 1.2rem;
    }
    .calculator div:nth-child(2) {
        margin: 1.2rem;
        padding: 1.2rem;
        width: 100%;
    }
    .calculator div:nth-child(2) p {
        width: 90%;
    }
    form{
        width: 100%;
    }
    #calculateBMI{
        width: 100%;
    }
    .sixth h1 {
        margin: 1.2rem;
    }
    .sixth p {
        margin: 1.2rem;
    }
    .six-people {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 1.2rem 1.2rem 4rem 1.2rem;

    }
    .six-people div:nth-child(4) {
        display: none;
    }
    .trainer-intro h4 {
        text-align: center;
    }
    .trainer-intro p {
        font-size: 1.2rem;
        font-weight: 500;
        margin: 0;
        text-align: left;
    }
    .last-content {
        margin: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .last-one{
        width: 100%;
    }
    .last-one p {
        width: 100%;
    }
    hr {
        margin: 1.2rem;
    }
    
}